/* index.css - Глобальные стили */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    color: #000000;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Убираем дефолтные стили для списков */
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Убираем outline для кнопок при клике */
button:focus {
    outline: none;
}

/* Базовые стили для ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Плавная прокрутка */
html {
    scroll-behavior: smooth;
}

/* Скрываем скроллбар но оставляем функциональность */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


* {
    -webkit-tap-highlight-color: transparent;
}


:root {
    --supreme-red: #ff0000;
    --supreme-black: #000000;
    --supreme-white: #ffffff;
    --supreme-gray: #666666;
    --supreme-light-gray: #f5f5f5;
    --supreme-border: #e0e0e0;
}